SERVICE_NAME=notifications

HTTP_PORT=8003
GRPC_PORT=9003

DB_CONN="host=localhost port=5432 user=me dbname=api password=password"
DB_PORT=5432
DB_USER=me
DB_PASS=password
DB_NAME=api

GOOGLE_APPLICATION_CREDENTIALS=/data/conf/credentials.json
FIREBASE_CONFIG=/data/conf/firebase.json