SERVICE_NAME=notifications

HTTP_PORT=8003
GRPC_PORT=9003

DB_CONN="host=localhost port=5432 user=me dbname=notifications password=password"
DB_PORT=5432
DB_USER=me
DB_PASS=password
DB_NAME=notifications

#APP_ENV=local
DEBUG=1
AUTOMIGRATE=true
NETWORK=backend
VAULT_ADDRESS=http://0.0.0.0:8200
VAULT_TOKEN=myroot

GOOGLE_APPLICATION_CREDENTIALS=/data/conf/credentials.json
FIREBASE_CONFIG=/data/conf/firebase.json

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
SES_SOURCE_EMAIL=